@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html, body {
  font-family: 'Abel', sans-serif;
}

main {
  background: url('/qk.jpg')no-repeat center;
  background-size: cover;
}
.btn{
  background: #F5322D;
}